:root {
    --background:       #FFFFFF;
    --site-background:  #000000;
}

html, body {
    margin:     0 !important;
    padding:    0 !important;
    height: 100%;
}


body {
    display:            flex;
    align-items:        center;
    justify-content:    center;

    background-color: var(--site-background);
}

#game-canvas {
    image-rendering: pixelated;
    background-color: var(--background);
}